{% extends '::base.html.twig' %}

{% block body %}

    <p>Hello ORO!</p>
    <form action="{{ path('search') }}" method="post">

        <label>Search textual file?</label>
        <input type="text" name="search" placeholder="Type your search query..."/>

    </form>

    <p>Search query: <strong>{{ query }}</strong></p>

    {% for result in results %}
        <p class="js-test-name">{{ result.name }}</p>
    {% endfor %}

{% endblock body %}